.img-close {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.box {
  position: relative;
  padding: 20px;
  background-color: #181818;
  width: 900px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}
