* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to right, #17133a, #2b2142);
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 18px;
}
.Container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-areas:
    "foto menu"
    "nome menu"
    "idade menu";
  grid-template-columns: 1fr 300px;
}

.menu {
  grid-area: menu;
  flex: 1;
}
.foto {
  grid-area: foto;
  flex: 1;
}
.nome {
  grid-area: nome;
  padding: 0px 48px 0px 0px;
  flex: 1;
}
.idade {
  grid-area: idade;
}

.img-profile {
  background-color: #ddd;
  border-radius: 100%;
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.img-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.img-close {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.box {
  position: relative;
  padding: 20px;
  background-color: #181818;
  width: 900px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}
